nb-card{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
  }
  
  .logo {
    width: 100%;
    
  }
  .brand-wrapper > span {
    font-size: 2rem;
    position: relative;
    top: 1rem;
  }
  .login-card .form-control {
    font-size: 1.2rem;
  }